<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<h3>User List</h3><br>
	<table class="table table-sm">
  		<thead>
    		<tr>
		      <th scope="col">user-id</th>
		      <th scope="col">user-name</th>
		      <th scope="col">user-email</th>
    		</tr>
  		</thead>
  		<tbody>
   	 		{{#users}}
   	 		<tr>
		      <th scope="row">{{userId}}</th>
		      <td>{{name}}</td>
		      <td>{{email}}</td>		      
		    </tr>
		    {{/users}}
		  </tbody>
		</table>
		
</body>
</html>